<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      width: 100vw;
    }

    div {
      background-color: red;
      height: 300px;
      width: auto;
    }

    h1 {
      color: blue;
    }
  </style>
</head>

<body>
  <div>
    <h1>Você fez Login na API da Aula de Envio de E-mails {{nomeusuario}}?</h1>
    <p>Alguêm acabou de fazer o login. Se não foi você, resete sua senha.</p>

  </div>
</body>

</html>